<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Courses</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1>Courses</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/" class="btn btn-success">Voltar</a>
        </div>

    </div>
    <div class=" m-auto text-center" id="result"></div>
    
    <form class="form-control form-control-lg" name="form" id="form"
        action="{% if db %}/updateCourses/{{db.id}}/{% else %}/createCourses/{% endif %}" method="post">
        {% csrf_token%}
        <div class="col m-auto pt-6 pb-4 text-center">
            <label for="nome">Name</label>
            <div><i class="form-group mt-6 col-12" id="name" placeholder="Name:"> {{formCourses.name}}</i></div>
            
            <label for="description">Description</label>
            <div><i class="form-group mt-6 col-12" id="description" placeholder="Description:">{{formCourses.description}}</i></div><br>
            
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
    {% load static %}
    <script src="{% static 'JavaScript.js' %}"></script>
</body>

</html>