<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>STUDENT</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1>Student</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/" class="btn btn-success">Return</a>
        </div>

    </div>
    <div class=" m-auto text-center" id="result"></div>
    
    <form class="form-control form-control-lg" name="form" id="form"
        action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
        {% csrf_token%}
        <div class="col m-auto pt-6 pb-4 text-center">
            <label for="first_name"> First name</label>
            <div><i class="form-group mt-6 col-12" id="nome" placeholder="Nome:"> {{form.first_name}}</i></div>

            <label for="last_name">Last name</label>
            <div><i class="form-group mt-6 col-12" id="nome" placeholder="First Name:"> {{form.last_name}}</i></div>
            
            <label for="age">Age</label>
            <div><i class="form-group mt-6 col-12" id="age" placeholder="Age:">{{form.age}}</i></div>

            <label for="courses">Courses</label>
            <div><i class="form-group mt-6 col-12" id="categoria" placeholder="Categoria:">{{form.courses}}</i></div><br>
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
    {% load static %}
    <script src="{% static 'JavaScript.js' %}"></script>
</body>

</html>