<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <title>Courses</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <div class="col-8 m-auto pt-3 pb-2 text-center"  >
    <h1>Courses</h1>
  </div>
  <div>
  <div>
      <div class="col-8 m-auto pt-4 pb-2 text-center">
        <a href="/" class="btn btn-success">Return</a>
      </div>
    </div>
     <div class="col-4 m-auto pt-3 pb-2 text-center">
      <form method="get"> 
          <input type="text" id="search" name="search" class="form-control" placeholder="Search..."></div>
      </form>
    </div>
    <div class="table-responsive-md px-md-4">
      <table class="table table-hover pt-50">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col-lg-12 text-align-items-md-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for dbs in db %}
          <tr>
            <td>{{dbs.id}}</td>
            <td>{{dbs.name}}</td>
            <td>{{dbs.description}}</td>
            <td>
              <a href="/viewCourses/{{dbs.id}}/" class="class btn btn-dark">Views</a>
              <a href="/editCourses/{{dbs.id}}/" class="class btn btn-primary">Edit</a>
              <a href="/deleteCourses/{{dbs.id}}/" class="class btn btn-danger btnDel">Delete</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">                 
    <ul class="pagination">

      {% if db.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{db.previous_page_number}}">Previous</a></li>
      {%  endif %}

           <li class="page-item"><a class="page-link" >{{db.number}}</a></li>

      {% if db.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{db.next_page_number}}">Next</a></li>
      {%  endif %}

    </ul>
  </div>
  <div class="col-8 m-auto pt-4 pb-2 text-center">
    <a href="/formCourses" type="submit" class="btn btn-success">Add</a>
  </div>
  {% load static %}
  <script src="{% static 'JavaScript.js' %}"></script>
</body>

</html>