<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Students</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/" class="btn btn-success">Return</a>
        </div>
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <strong>First name: </strong>{{db.first_name}}<br>
            <strong>Last name: </strong>{{db.last_name}}<br>
            <strong>Age: </strong>{{db.age}}<br>
            <strong>Courses: </strong>{{db.courses}}<br>
        </div>    
    </div>
</body>

</html>